<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello Vuejs</title>
    <script src="https://vuejs.org/js/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1 v-show="user.gender == 1 && user.name != null" style="color: red;">Chào anh {{ user.name }}</h1>
        <h1 v-show="user.gender == 2 && user.name != null" style="color: green">Chào chị {{ user.name }}</h1>
        <h1 v-show="user.name == null" style="color: blue">Ví dụ về v-show</h1>
      <br>
      <label for="">Name</label>
      <input type="text" v-model="user.name" placeholder="Enter your name">
      <label for="">Gender</label>
      <select class="" name="" v-model='user.gender'>
        <option value="1">Nam</option>
        <option value="2">Nu</option>
      </select>
    </div>

    <script type="text/javascript">
      new Vue({
        el : '#app',
        data: {
          user : {}
        }
      })
    </script>
  </body>
</html>
